@model Erasmus.Domain.DTO.ProjectDetailsDto
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div>
    <h1>@Model.ProjectTitle</h1>
    <h2>@Model.ProjectDescription</h2>
    <hr />
    @{
        if(Model.UploadedFilesForUser.Count != 0)
        {
            // add foreach
            var fileId = Model.UploadedFilesForUser[3].Id;
            <h1>You have already applied</h1>
            <h1>@Model.UploadedFilesForUser[0].FileName</h1>
            <a asp-controller="Participant" asp-action="ShowUploadedFile" asp-route-id="@fileId">Download</a>
        }
    }
    <a asp-controller="Participant" asp-action="UploadFiles" asp-route-eventId="@Model.ProjectId" class="btn btn-primary">Apply</a>
</div>




