@model Erasmus.Domain.DTO.ProjectDetailsDto
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@await Component.InvokeAsync("Notyf") 


<div class="alert alert-light w-75 justify-content-center mx-auto">
    <div class="justify-content-center text-center">
     <img src="~/images/projectpic.png" style="width:200px; height:200px;"/>

    @*
        smetam deka slika ke ima
    *@
    <div>   
    <h1 class="h3 text-warning">@Model.ProjectTitle</h1>
    <h2 class="h4 text-info">@Model.ProjectDescription</h2>
    </div>

    <a asp-controller="Participant" asp-action="UploadFiles" asp-route-eventId="@Model.ProjectId" class="btn btn-outline-warning  btn-lg">Apply <i class="fa fa-check-circle" aria-hidden="true"></i></a>
    <hr />
        <h2 class="h3 text-info">Uploaded files</h2>
    </div>
   
    @{
        foreach(var file in Model.UploadedFilesForUser)
        {
            var fileId = file.Id;
            <h4 class="text-info mt-3 mb-3">@file.FileType</h4>
            <div class="row">
            <div class="col-4">
             <label class="text-warning">@file.FileName</label>
            </div>
            <div class="col-2">
             <a class="btn btn-outline-info btn-lg" asp-controller="Participant" asp-action="ShowUploadedFile" asp-route-id="@fileId"> 
                        <i class="fa fa-download" aria-hidden="true"></i>
             </a>
            </div>
            </div>
            <hr/>
           
        }
    }
</div>




