@using System.Security.Claims
@model Erasmus.Domain.DTO.NonGovProjectsDto
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // this view lists all non government projects
}
<head>
    <link href="/css/NonGovProjectsIndex.css" rel="stylesheet" type="text/css">
</head>
<style>
    .text-blue{
           color: #263F6B;
    }
</style>
<div class="container w-75 text-blue">
    <form class="form-inline my-2 my-lg-0 mb-5 text-blue" asp-controller="NonGovProjects" asp-action="Index" method="get">
          <input class="form-control" type="text" placeholder="Search" aria-label="Search" id="search" name="SearchString">
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" value="Filter"><i class="fa fa-search" aria-hidden="true"></i></button>
    </form>
    <div class="mt-5 ">
    @foreach(var project in Model.Projects)
    {
            <div class="card border-primary mb-3 w-100" style="width: 18rem;">
                <div class="card-body row">
                    <div class="col-2 mr-5">
                        <div style="width: 200px; height: 200px;">
                                @if (project.ProjectPhotoPath != null)
                            {
                                <img class="shape" src="~/projectimages/@project.ProjectPhotoPath" style="width: 200px; height: 200px;"/>
                            }
                        </div>
                    </div>
          <div class="col-6 ml-5" style="margin-left:100px;">
                <h5 class="card-title text-blue">@project.ProjectTitle</h5>
                <p class="card-text text-blue">@project.ProjectDescription</p>
                <div class="row w-100">
                     <div class="">
                       <a  class="btn btn-outline-primary col-4" asp-controller="NonGovProjects" asp-action="Details" asp-route-id="@project.Id">See more <i class="fa fa-info" aria-hidden="true"></i></a>
                       @{
                            if(!User.IsInRole("Organizer"))
                            {
                                <a asp-controller="Participant" asp-action="UploadFiles" asp-route-eventid="@project.Id" class="btn btn-primary col-4">Apply now</a>
                            }
                       }
                       @{
                       var canEdit = User.IsInRole("Organizer") && project.NonGovProjectOrganizers !=null && project.NonGovProjectOrganizers.Any(z => z.Organizer.BaseRecord.Id == User.FindFirstValue(ClaimTypes.NameIdentifier));
                       if(canEdit)
                       {
                          <a asp-controller="NonGovProjects" asp-action="Edit" asp-route-id="@project.Id" class="edit-btn btn btn-outline-primary col-3"  ><i class="fa fa-pencil" aria-hidden="true"></i></a>
                          <a asp-controller="NonGovProjects" asp-action="Delete" asp-route-id="@project.Id" class="delete-btn btn btn-outline-danger col-3"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                       }
                   }

                </div>
                </div>
              
          </div>
      </div>
      </div>
    }
</div>

<div class="mt-5 text-blue mb-5">
    <h1 class="h1 mb-3">How to apply?</h1>
    <p>
    Now it's easy to be part of the Erasmus community. All you need to have is a good mood and motivation.
    </p>
    <p>
    In order to apply to an event organized by some non-government organization,
    you need to attach your <b>CV</b> and <b>motivational letter</b>. 
    </p>
    <br/>
</div>
@if(User.IsInRole("Organizer"))
{
   <a class="btn btn-outline-primary create-button" asp-controller="NonGovProjects" asp-action="Create">Create a project</a>
}


</div>


