@using System.Security.Claims
@model Erasmus.Domain.DTO.NonGovProjectsDto
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // this view lists all non government projects
}
<style>
    .btn-create {
        margin-top: 5%;
    }
</style>
<div class="container w-75">
    <form class="form-inline my-2 my-lg-0 mb-5">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
    </form>
    <div class="mt-5 ">
    @foreach(var project in Model.Projects)
    {
      <div class="card border-primary mb-3 w-100" style="width: 18rem;">
      <div class="card-body row">
          <div class="col-2 mr-5">
            <div style="width: 200px; height: 200px; background-color: gray;"></div>
@*           <img src="" alt="..." class="img-thumbnail" style="width: 200px; height: 200px;" />
*@
          </div>
          <div class="col-6 ml-5" style="margin-left:100px;">
                <h5 class="card-title text-primary">@project.ProjectTitle</h5>
                <p class="card-text text-primary">@project.ProjectDescription</p>
                <div class="row w-100">
                     <div class="">
                       <a asp-controller="NonGovProjects" asp-action="Details" asp-route-id="@project.Id">See more</a>
                       @{
                            if(!User.IsInRole("Organizer"))
                            {
                                <a asp-controller="Participant" asp-action="UploadFiles" asp-route-eventid="@project.Id" class="btn btn-primary col-4">Apply now</a>
                            }
                       }
                       @{
                       var canEdit = User.IsInRole("Organizer") && project.NonGovProjectOrganizers !=null && project.NonGovProjectOrganizers.Any(z => z.Organizer.BaseRecord.Id == User.FindFirstValue(ClaimTypes.NameIdentifier));
                       if(canEdit)
                       {
                          <a asp-controller="NonGovProjects" asp-action="Edit" asp-route-id="@project.Id" class="edit-btn btn btn-outline-primary col-3"  >Edit</a>
                          <a asp-controller="NonGovProjects" asp-action="Delete" asp-route-id="@project.Id" class="delete-btn btn btn-outline-danger col-3">Delete</a>
                       }
                   }

                </div>
                </div>
              
          </div>
      </div>
      </div>
    }
</div>
<a class="btn-create btn btn-lg btn-block btn-outline-primary " asp-controller="NonGovProjects" asp-action="Create">Create a project</a>

<div class="mt-5 text-primary mb-5 ">
    <h1 class="h1">How to apply?</h1>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Aliquam eget sem quis augue aliquam molestie dictum ut tellus.
    Morbi sed pellentesque odio, vel tincidunt elit. Donec maximus, quam a suscipit vestibulum,
    risus lorem dapibus tortor, ut ultricies nunc odio id lectus. Quisque imperdiet nunc at purus molestie, 
    ut tempus massa consectetur. Curabitur congue urna et porttitor ultrices. Nulla mattis, odio faucibus elementum tempor
    , neque mauris pulvinar massa, 
    quis molestie enim lorem sed risus. Sed et quam enim. Donec a ante justo.
    </p>
</div>
</div>


