@model Erasmus.Domain.DTO.ApplyToEventDto
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form id="file-form" method="post" asp-controller="Participant" asp-action="UploadFiles" enctype="multipart/form-data">
    <input type="hidden" asp-for="ProjectId"/>
    <h1>Applying to @Model.Project.ProjectTitle</h1>
    <h2>Date: @Model.Project.StartDate</h2>
    <h3>Location: @Model.Project.City</h3>
    <hr />
    <div>
        Please use the template file for CV for applying to these events
        <a asp-controller="Participant" asp-action="DownloadCvTemplate" asp-route-id="@Model.ProjectId" >CV Template</a>
    </div>
    @if (Model.UploadedCV == null)
    {
        <div>
            <label>Attach a CV</label>
            <input type="file" class="file-input" asp-for="CV"/>
        </div>
    }
    else
    {
        <label>Uploaded CV: @Model.UploadedCV.FileName</label>
        <div>
            <a class="btn btn-primary" asp-controller="Participant" asp-action="ShowUploadedFile" asp-route-id="@Model.UploadedCV.Id" class="btn btn-primary">Download</a>
            <a class="btn btn-danger" asp-controller="Participant" asp-action="DeleteUploadedFile" asp-route-id="@Model.UploadedCV.Id">Delete</a>
        </div>

    }

    @if(Model.UploadedMotivation == null)
    {
         <div>
            <label>Attach a Motivation Letter</label>
            <input type="file" class="file-input" asp-for="MotivationLetter"/>
        </div>
    }
    else
    {
        <div>
            <h1>Your Motivation Letter</h1>
            <a asp-controller="Participant" asp-action="ShowUploadedFile" asp-route-id="@Model.UploadedMotivation.Id"><label>@Model.UploadedMotivation.FileName</label></a>
            <a class="btn btn-danger" asp-controller="Participant" asp-action="DeleteUploadedFile" asp-route-id="@Model.UploadedMotivation.Id">Delete</a>
        </div>
    }
    <button id="btn-submit" type="submit" class="btn btn-success" style="display:none">Upload files</button>
</form>

<form asp-method="post" asp-action="Apply" asp-controller="Participant">
    <input type="hidden" asp-for="ParticipantId" />
    <input type="hidden" asp-for="ProjectId" />
    <button type="submit" class="btn btn-outline-info">Submit application for review</button>
</form>

@section Scripts{
    <script>
        $(document).ready(function(){
            $('.file-input').click(function(){
                debugger;
               $('#btn-submit').show();
            });
           
        });
    </script>
}